.flexContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarMouseOver {
  max-width: 175px;
  max-height: 175px;
  cursor: pointer;
}

.gridStyle {
  height: 175px;
  width: 175px;
  border: none;
}

.text {
  font-size: 16px;
  margin: 20px;
}

.logoutButton {
  margin: 10px;
}

.userInfo {
  list-style: none;
}


.changeAvatarButton {
  margin: 10px;
}
