.text {
  font-size: 16px;
  margin: 20px;
}

.logoutButton {
  float: right;
}

.levelText {
  text-align: right;
  margin-right: 50px;
}

.userInfo {
  float: right;
  margin-right: 250px;
  list-style: none;
}

.deleteAccountButton {
  background-color: #F44336;
  float: right;
  margin-right: 100px;
}

.changeAvatarButton {
  margin: 10px;
}
