.currentAvatarChoice {
  margin: 50px;
  height: 200px;
  width: 200px;
}

.buttonStyle {
  margin-top: 100px;
  margin-right: 200px;
  height: 30px;
  float: right;
}

.backToAccountButton {
  margin: 10px;
  float: left;
}

.selected {
  border: 2px solid red;
}

.notSelected {
  border: 1px solid black;
}

.test {
  color: green;
}

.selected {
  border: 2px solid red;
}

.notSelected {
  border: 1px solid black;
}

.test {
  color: green;
}
