<% include head.ejs%>

    <div class="page-header text-center">
        <a href="/api" class="btn btn-default btn-sm">Go to /api page</a>
    </div>

    <div id='root'></div>
    <script src='/dist/view.bundle.js'></script>



<% include foot.ejs%>
