<!doctype html>
<html>
<head>
    <title>Forgotten</title>
    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='index.css'></link>
    <link rel='stylesheet' href='fonts/fonts.css'></link>
</head>

<div class="container">
