<% include head.ejs%>

  <div id='root'></div>
  <script src="/dist/bundle.js"></script>
  <link rel='stylesheet' href='index.css'></link>
  <link rel='stylesheet' href='fonts/fonts.css'></link>

<% include foot.ejs%>
