@font-face {
    font-family: Sue;
    src: url('SueEllenFrancisco.ttf');
}

@font-face {
    font-family: Mont Regular;
    src: url('Montserrat-Regular.ttf');
}

@font-face {
    font-family: Exo Light;
    src: url('Exo-Light.ttf');
}
