.story {
  background-color: white;
  padding: 40px;
  font-family: 'Sue';
  background-image: url('/assets/backgrounds/storyBG.jpg');
  background-size: cover;
  background-position: center;
  font-size: 28px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
  color: black;
}

.message {
  background-color: #3F88C5;
  font-size: 18px;
  padding: 20px;
  font-family: monospace;
  color: white;
  border-radius: 20px 20px 0 20px;
  box-shadow: 0px 0px 20px black;
}

.notifications {
  background-color: #44BBA4;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  box-shadow: 0px 0px 20px black;
}

.listItem {
  margin: 15px;
  font-family: 'Exo Light';
}

.storyline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(57, 62, 65, 0.55);
}

.storyline_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty_storyline_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left,rgba(57, 62, 65, 0.05),rgba(57, 62, 65, 0.85),rgba(57, 62, 65, 0.83),rgba(57, 62, 65, 0.05));
  padding: 40px;
}

.empty_storyline_content {
  color: white;
  font-family: 'Exo Light';
  font-size: 28px;
}
